<%- include("./partials/header") %>

<div class="page-header about-header">
	<h1>
		Release Notes
	</h1>
</div>

<div class="about-content container">
	<div class="caption">
			<h2>
				- <a href="https://github.com/v-a-run/YelpCamp-Improvements">v2.1</a>
				<span class="label label-default">New</span>
			</h2>
			<small></small>
			<h4>
				<small>13 July, 2020 : </small>
				Revamped Login and Sign Up pages.
				Added About section for Release Notes.
			</h4>
		
			<h2>
				- <a href="https://github.com/v-a-run/YelpCamp-Improvements">v2.0</a>
			</h2>
			<h4>
				<small>11 July, 2020 : </small>
				Added Footer section at bottom of every page.
			</h4>
			
			<h2>
				- <a href="https://github.com/v-a-run/YelpCamp-v1.1">v1.1</a>
			</h2>
			<h4>
				<small>06 July, 2020 : </small>
				Developed the whole application from scratch and deployed it.
			</h4>
	</div>
</div>

<%- include("./partials/footer") %>