</div>

<div class="footer">
	<div class="footer-content">
		<div class="about">
			<h5>
			This is a Node.js web application project from 
				<a href="https://www.udemy.com/">Udemy Course</a> : 
				<a href="https://www.udemy.com/course/the-web-developer-bootcamp/">The Web Developer Bootcamp</a>.
			</h5>
			<h5>
				For more info, check out : 
				<a href="https://github.com/v-a-run/YelpCamp-v1.1">Initial Release</a> | 
				<a href="https://github.com/v-a-run/YelpCamp-Improvements">Other Improvements</a>
			</h5>
		</div>
		<div class="links">
			
		</div>
	</div>
	<div class="footer-bottom">
		&copy; Copyrights reserved : <a href="https://yelpcamp-varun.herokuapp.com/">YelpCamp</a>
		<p>
			Developed by : <a href="https://github.com/v-a-run">Varun</a>
		</p>
	</div>
</div>

</body>
</html>